<style>
    .form-box {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-top: 5px solid #181642;
        border-left: 3px solid #181642;
        border-radius: 10px;
    }
</style>
<div class="container p-3 mx-auto w-50 form-box my-5 rounded-md">
    <h2 style="color: #181642; font-weight: 300 !important;" class="text-center mb-3">Update Job</h2>
    <form action="/jobs/<%= job.id %>/update" method="post">
        <div class="input-group mb-3">
            <select required="" name="job_category" class="form-select" aria-label="Default select example">
                <option selected="" disabled="">select job category</option>
                <option value="Tech" <%= job.jobcategory === 'Tech' ? 'selected' : '' %>>Tech</option>
                <option value="Non-Tech" <%= job.jobcategory === 'Non-Tech' ? 'selected' : '' %>>Non Tech</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <select required="" name="job_designation" class="form-select" aria-label="Default select example"
                value="<%= job.jobdesignation %>">
                <option selected="" disabled="">select job designation</option>
                <option value="HR" <%= job.jobdesignation === 'HR' ? 'selected' : '' %>>HR</option>
                <option value="SDE" <%= job.jobdesignation === 'SDE' ? 'selected' : '' %>>SDE</option>
                <option value="DevOps" <%= job.jobdesignation === 'DevOps' ? 'selected' : '' %>>DevOps</option>
                <option value="MERN Developer" <%= job.jobdesignation === 'MERN Developer' ? 'selected' : '' %>>MERN Developer</option>
                <option value="MEAN Developer" <%= job.jobdesignation === 'MEAN Developer' ? 'selected' : '' %>>MEAN Developer</option>
                <option value="JAVA Developer" <%= job.jobdesignation === 'JAVA Developer' ? 'selected' : '' %>>JAVA Developer</option>
                <option value="Front-End Developer" <%= job.jobdesignation === 'Front-End Developer' ? 'selected' : '' %>>Front-End Developer</option>
                <option value="Back-End Developer" <%= job.jobdesignation === 'Back-End Developer' ? 'selected' : '' %>>Back-End Developer</option>
                <option value="Full-Stack Developer" <%= job.jobdesignation === 'Full-Stack Developer' ? 'selected' : '' %>>Full-Stack Developer</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Enter job location</label>
            <div class="input-group">
                <input required="" name="job_location" type="text" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3 basic-addon4" value="<%= job.joblocation %>">
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Company Name</span>
            <input required="" name="company_name" type="text" class="form-control"
                aria-label="Amount (to the nearest dollar)" value="<%= job.companyname %>">
        </div>

        <div class="input-group mb-3">
            <input required="" name="salary" type="text" class="form-control" placeholder="enter salary"
                aria-label="Username" value="<%= job.salary %>">
            <span class="input-group-text">Total Positions</span>
            <input required="" name="number_of_openings" type="number" class="form-control"
                placeholder="total no of openings" aria-label="Server" value="<%= job.numberofopenings %>">
        </div>
        <div class="input-group mb-3">
            <select id="skills" required="" multiple="" name="skills_required" class="form-select"
                aria-label="Default select example">
                <option selected="" disabled="">select skills required for this job</option>
                <option value="Communication Skill" <%= job.skillsrequired.includes('Communication Skill') ? 'selected' : '' %>>Communication Skill</option>
                <option value="Employee Relations" <%= job.skillsrequired.includes('Employee Relations') ? 'selected' : '' %>>Employee Relations</option>
                <option value="Performance Management" <%= job.skillsrequired.includes('Performance Management') ? 'selected' : '' %>>Performance Management</option>
                <option value="Training and Development" <%= job.skillsrequired.includes('Training and Development') ? 'selected' : '' %>>Training and Development</option>
                <option value="React" <%= job.skillsrequired.includes('React') ? 'selected' : '' %>>React</option>
                <option value="NodeJs" <%= job.skillsrequired.includes('NodeJs') ? 'selected' : '' %>>NodeJs</option>
                <option value="Angular" <%= job.skillsrequired.includes('Angular') ? 'selected' : '' %>>Angular</option>
                <option value="MongoDB" <%= job.skillsrequired.includes('MongoDB') ? 'selected' : '' %>>MongoDB</option>
                <option value="SQL" <%= job.skillsrequired.includes('SQL') ? 'selected' : '' %>>SQL</option>
                <option value="Express" <%= job.skillsrequired.includes('Express') ? 'selected' : '' %>>Express</option>
                <option value="Java" <%= job.skillsrequired.includes('Java') ? 'selected' : '' %>>Java</option>
                <option value="SpringBoot" <%= job.skillsrequired.includes('SpringBoot') ? 'selected' : '' %>>SpringBoot</option>
                <option value="C++" <%= job.skillsrequired.includes('C++') ? 'selected' : '' %>>C++</option>
                <option value="Data Structures and Algo" <%= job.skillsrequired.includes('Data Structures and Algo') ? 'selected' : '' %>>Data Structures and Algo</option>
            </select>
            <span class="input-group-text">Apply By</span>
            <input name="apply_by" type="date" class="form-control" aria-label="Server" value="<%= job.applyby %>">
        </div>
        <button class="w-100 mb-3 mt-2 btn btn-md btn-success" type="submit">Update</button>
    </form>
</div>

<script>
    const skills = document.getElementById('skills');
    const valuesToSelect = job.skillsrequired;
    console.log(skills);
    console.log(valuesToSelect);
    // Set selected values
    for (const option of skills.options) {
        if (valuesToSelect.includes(option.value)) {
            option.selected = true;
        }
    }
</script>